<div class="container">
  <h1>My tasks</h1>
  <% @tasks.each do |task| %>
    <li><%= task.completed ? "âœ…" : "â›”ï¸"%> <%= link_to task.title, task_path(task.id) %> <%= link_to 'ðŸ—‘', task_path(task.id), method: :delete %></li>
  <% end %>
  </br>
  <%= link_to "+ Add a new task", new_task_path %>
</div>
